In [1]:
import pandas as pd

In [8]:
data = pd.read_csv("concrete_data.csv")

In [9]:
data.head(5)

,Cement,bfs,Fly Ash,Water,Superplasticizer,ca,fa,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [10]:
columns = ['Cement', 'bfs', 'Fly Ash', 'Water', 'Superplasticizer', 'ca', 'fa', 'Age']
target = 'Strength'

In [11]:
X = data[columns]
y = data[target]

In [12]:
X.head(2)

   Cement  bfs  Fly Ash  Water  Superplasticizer      ca     fa  Age
0   540.0  0.0      0.0  162.0               2.5  1040.0  676.0   28
1   540.0  0.0      0.0  162.0               2.5  1055.0  676.0   28

In [13]:
from sklearn.linear_model import LinearRegression # linear regression

In [14]:
from sklearn.model_selection import train_test_split # split dataset

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [52]:
model = LinearRegression()

In [53]:
model.fit(X, y)

LinearRegression()

In [54]:
import joblib

In [55]:
filename = 'concrete_model.sav'
joblib.dump(model, filename)

['concrete_model.sav']

In [56]:
loaded_model = joblib.load(filename)
result = loaded_model.score(X_test, y_test)
print(result)

0.645594200205736